* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

aside,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: 0 0;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}
body.active {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-blue {
  background-color: #007db6;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.button-blue:hover {
  background-color: #65b2d6;
}

.button-white {
  color: #007db6;
  padding: 12px 24px;
  border: 1px solid #007db6;
  border-radius: 4px;
  transition: 0.3s;
}

.button-white:hover {
  border: 1px solid #65b2d6;
}

.title {
  color: #292929;
  font-size: clamp(2.5rem, 0.693rem + 2.7vw, 3.125rem);
  font-weight: 900;
  line-height: 121.5%;
  text-transform: uppercase;
}

.desc {
  color: #292929;
  font-size: clamp(0.75rem, 0.208rem + 0.81vw, 0.938rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.desc2 {
  font-size: 18px;
  font-weight: 600;
  color: #515151;
}

section {
  margin-top: 80px;
}

.header {
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .header__container {
    justify-content: center;
  }
}
.header__info {
  padding-top: 45px;
  width: 640px;
  padding-right: 98px;
}
@media (max-width: 1100px) {
  .header__info {
    padding-right: 0;
  }
}
.header__endtext {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.header__btn {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.header__check {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header__cont-for-checkbox {
  display: flex;
  gap: 8px;
  color: #292929;
}
.header__title {
  font-size: 32px;
  padding-top: clamp(2.5rem, 0.372rem + 10.64vw, 7.688rem);
  margin-bottom: 40px;
}
.header__desc {
  font-size: 15px;
  margin-bottom: 4px;
}
.header__input {
  padding: 12px;
  border: 1px solid #a0a0a0;
  width: 400px;
  border-radius: 4px;
  margin-bottom: 18px;
}
@media (max-width: 1100px) {
  .header__input {
    width: 100%;
  }
}
.header__blue {
  color: #007db6;
}
.header__error {
  margin-bottom: 18px;
}
.header__login {
  height: 790px;
}
.header__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .header__img {
    display: none;
  }
}
.header__bgc {
  position: absolute;
  z-index: -2;
  right: 0;
  height: 1000px;
  width: clamp(40rem, 4.866rem + 51.1vw, 90.625rem);
  background-color: #daf3ff;
}

.footer {
  background-color: #f4f9fb;
  margin: 0;
  padding: 0;
}
.footer__container {
  padding-top: 49px;
  padding-bottom: 34px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 560px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
  }
}
.footer__btn {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  color: #007db6;
  padding-top: 12px;
  cursor: pointer;
}
.footer__text {
  display: flex;
  justify-content: space-between;
  gap: clamp(2.5rem, -3.092rem + 13.16vw, 8.75rem);
}
@media (max-width: 680px) {
  .footer__text {
    flex-direction: column;
    gap: 32px;
  }
}
.footer__mobile {
  display: none;
}
@media (max-width: 560px) {
  .footer__mobile {
    display: block;
    padding-top: 32px;
  }
}
@media (max-width: 480px) {
  .footer__mobile {
    display: none;
  }
}
@media (max-width: 560px) {
  .footer__desctop {
    display: none;
  }
}
@media (max-width: 480px) {
  .footer__desctop {
    display: block;
  }
}
.footer__p {
  padding-top: 18px;
  cursor: pointer;
}
.footer__p:first-child {
  padding-top: 0;
}
@media (max-width: 480px) {
  .footer__p {
    font-size: 15px;
  }
}
.footer__logos img {
  background-color: #fff;
  padding: 16.65px 18px;
  border-radius: 8px;
}
.footer__copy {
  padding-top: 48px;
  text-align: center;
}
.footer__copy:last-child {
  font-size: 12px;
  margin-top: 4px;
}/*# sourceMappingURL=login.css.map */