* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Inter, sans-serif;
}
body.active {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-blue {
  background-color: #007db6;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.button-blue:hover {
  background-color: #65b2d6;
}

.button-white {
  color: #007db6;
  padding: 12px 24px;
  border: 1px solid #007db6;
  border-radius: 4px;
  transition: 0.3s;
}

.button-white:hover {
  border: 1px solid #65b2d6;
}

.title {
  color: #292929;
  font-size: clamp(2.5rem, 0.693rem + 2.7vw, 3.125rem);
  font-weight: 900;
  line-height: 121.5%;
  text-transform: uppercase;
}

.desc {
  color: #292929;
  font-size: clamp(0.75rem, 0.208rem + 0.81vw, 0.938rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.desc2 {
  font-size: 18px;
  font-weight: 600;
  color: #515151;
}

section {
  margin-top: 40px;
}

.header {
  background-color: #f4f9fb;
}
.header__log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;
}
.header__btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 500px) {
  .header__btns {
    position: absolute;
    left: -1000px;
    transition: 0.3s;
  }
  .header__btns.active {
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #007db6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
}
.header__singup.active {
  color: #fff;
}
.header__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 970px) {
  .header__info {
    flex-direction: column-reverse;
  }
}
.header__info-text {
  max-width: 674px;
}
@media (max-width: 970px) {
  .header__info-text {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .header__info-text {
    text-align: center;
  }
}
.header__title {
  margin-top: 72px;
  font-size: clamp(1.875rem, 1.26rem + 3.08vw, 3.125rem);
  font-size: clamp(2.5rem, 1.546rem + 1.75vw, 3.125rem);
}
@media (max-width: 970px) {
  .header__title {
    margin-top: 0;
  }
}
.header__desc {
  margin-top: 12px;
}
@media (max-width: 970px) {
  .header__desc {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .header__desc {
    width: 270px;
    margin: 0 auto;
  }
}
.header__start {
  margin-top: 32px;
  margin-bottom: 121px;
}
@media (max-width: 970px) {
  .header__start {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .header__start {
    width: 100%;
  }
}
.header__img {
  position: absolute;
  bottom: -32px;
  right: 0;
}
@media (max-width: 970px) {
  .header__img {
    position: static;
    transform: scale(0.7);
  }
}
.header__burger {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__burger span {
  height: 1px;
  width: 40px;
  background-color: #292929;
  display: none;
  transition: 0.3s all;
}
@media (max-width: 500px) {
  .header__burger span {
    display: block;
  }
}
.header__burger.active span {
  z-index: 10;
  position: absolute;
  left: -40px;
  transform: scale(0);
  background-color: #fff;
}
.header__burger.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__burger.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.header__burger.active span:nth-child(2) {
  display: none;
}

.cards__container {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.25rem, -2.875rem + 10vw, 2.5rem);
}
@media (max-width: 660px) {
  .cards__container {
    overflow-x: scroll;
  }
}
.cards__card {
  width: 360px;
  height: clamp(21.875rem, 15.781rem + 12.19vw, 26.75rem);
  background-color: #f4f9fb;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 660px) {
  .cards__card {
    min-width: 290px;
    height: clamp(21.875rem, 15.781rem + 12.19vw, 26.75rem);
  }
}
.cards img {
  margin-top: -20px;
}
.cards__desc {
  text-align: center;
}

.singin {
  margin-top: 40px;
}
.singin__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1090px) {
  .singin__container {
    flex-direction: column;
  }
}
.singin__card {
  background-color: #f4f9fb;
  max-width: 560px;
  max-height: 298.879px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
}
.singin img {
  margin-top: -20px;
}
@media (max-width: 560px) {
  .singin img {
    display: none;
  }
}
.singin__text {
  padding: 40px;
}
.singin__desc {
  max-width: 308px;
  margin-top: 12px;
  margin-bottom: 18px;
}
@media (max-width: 480px) {
  .singin__sing {
    width: 100%;
  }
}
.singin__login {
  margin-top: 10px;
}
@media (max-width: 480px) {
  .singin__login {
    width: 100%;
  }
}

.module {
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  transition: 0.3s;
  width: 1000vw;
  height: 1000vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.module__card {
  position: relative;
  background-color: #fff;
  box-shadow: -2px 2px 14px 0px rgba(27, 27, 27, 0.1);
  border-radius: 16px;
  width: 359px;
}
@media (max-width: 400px) {
  .module__card {
    width: 90%;
  }
}
.module__info {
  padding: 50px 50px 40px 40px;
}
.module__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.module__text-cont {
  display: flex;
  gap: 8px;
}
.module__text-cont:first-child {
  margin-bottom: 15px;
}
.module__desc {
  font-weight: 400;
  cursor: pointer;
  min-width: 100%;
}
.module__btns {
  margin-top: 33px;
  display: flex;
  gap: 20px;
}
@media (max-width: 410px) {
  .module__btns {
    flex-direction: column;
    gap: 6px;
  }
}

.welcome__container {
  display: flex;
  background-color: #f4f9fb;
  gap: clamp(3.125rem, -14.905rem + 29.89vw, 12rem);
  align-items: center;
  border-radius: 16px;
}
@media (max-width: 965px) {
  .welcome__container {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
@media (max-width: 965px) {
  .welcome__desctop {
    display: none;
  }
}
.welcome__mobile {
  display: none;
}
@media (max-width: 965px) {
  .welcome__mobile {
    display: block;
  }
}
.welcome__cards {
  padding: 27px 40px 27px 0;
}
@media (max-width: 965px) {
  .welcome__cards {
    padding: 0 0 27px 0;
  }
}
.welcome__card {
  width: 526px;
  padding: clamp(0.938rem, -0.469rem + 6.43vw, 1.5rem) clamp(1.25rem, -1.875rem + 14.29vw, 2.5rem);
  color: #fff;
  border-radius: 16px;
}
.welcome__card-1 {
  background-color: #ff879f;
  margin-bottom: 18px;
}
.welcome__card-1 p.welcome__num {
  color: #ff879f;
}
.welcome__card-2 {
  background-color: #65b2d6;
}
.welcome__card-2 p.welcome__num {
  color: #65b2d6;
}
.welcome__card-3 {
  background-color: #f0d075;
}
.welcome__card-3 p.welcome__num {
  color: #f0d075;
}
.welcome__card-4 {
  background-color: #ff879f;
}
.welcome__card-4 p.welcome__num {
  color: #ff879f;
}
@media (max-width: 565px) {
  .welcome__card {
    width: 90vw;
  }
}
.welcome__num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.welcome__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%; /* 30px */
  text-transform: uppercase;
}
.welcome__desc {
  color: #fff;
}
.welcome__info__title {
  font-size: 31px;
  margin-top: 18px;
}
.welcome__info__desc {
  color: #000;
  margin-bottom: 32px;
  width: 293px;
}
@media (max-width: 965px) {
  .welcome__info__desc {
    width: 100%;
  }
}
@media (max-width: 965px) {
  .welcome__info__btn {
    width: 526px;
  }
}
@media (max-width: 565px) {
  .welcome__info__btn {
    width: 90vw;
  }
}

.diagnostic__head {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .diagnostic__head {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .diagnostic__head {
    text-align: center;
    align-items: center;
  }
}
.diagnostic__title {
  font-size: 32px;
  width: 265px;
}
.diagnostic__mobile {
  display: none;
  margin-top: 32px;
}
@media (max-width: 650px) {
  .diagnostic__mobile {
    display: block;
  }
}
@media (max-width: 480px) {
  .diagnostic__mobile-b {
    width: 100%;
  }
}
.diagnostic__info {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.diagnostic__btn {
  margin-top: 32px;
}
@media (max-width: 650px) {
  .diagnostic__btn {
    display: none;
  }
}
.diagnostic__time {
  width: 120px;
}
@media (max-width: 800px) {
  .diagnostic__time {
    display: none;
  }
}
.diagnostic__content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: end;
  gap: 40px;
}
@media (max-width: 1300px) {
  .diagnostic__content {
    overflow: scroll;
  }
}
.diagnostic__card {
  background-color: #f4f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: end;
  min-width: 260px;
}
.diagnostic__card-1 {
  height: 352px;
}
.diagnostic__card-1 .diagnostic__card-title {
  margin-bottom: 50px;
}
.diagnostic__card-1 img {
  margin-bottom: 61px;
}
@media (max-width: 1100px) {
  .diagnostic__card-1 img {
    margin-bottom: 45px;
  }
}
@media (max-width: 1100px) {
  .diagnostic__card-1 {
    height: 300px;
  }
}
.diagnostic__card-2 {
  height: 231px;
}
.diagnostic__card-2 .diagnostic__card-title {
  margin-bottom: 50px;
}
.diagnostic__card-2 img {
  margin-bottom: 61px;
}
@media (max-width: 1100px) {
  .diagnostic__card-2 img {
    margin-bottom: 45px;
  }
}
@media (max-width: 1100px) {
  .diagnostic__card-2 {
    height: 300px;
  }
}
.diagnostic__card-3 {
  height: 190px;
}
.diagnostic__card-3 .diagnostic__card-title {
  margin-bottom: 65px;
}
.diagnostic__card-3 img {
  margin-bottom: 46px;
}
@media (max-width: 1100px) {
  .diagnostic__card-3 img {
    margin-bottom: 45px;
  }
}
@media (max-width: 1100px) {
  .diagnostic__card-3 {
    height: 300px;
  }
}
.diagnostic__card-4 {
  height: 352px;
}
.diagnostic__card-4 .diagnostic__card-title {
  margin-bottom: 22px;
}
.diagnostic__card-4 img {
  margin-bottom: 63px;
}
@media (max-width: 1100px) {
  .diagnostic__card-4 img {
    margin-bottom: 45px;
  }
}
@media (max-width: 1100px) {
  .diagnostic__card-4 {
    height: 300px;
  }
}
.diagnostic__card-title {
  font-size: 24px;
  width: 185px;
}

.anons__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: clamp(2.188rem, 1.116rem + 5.36vw, 3.125rem);
}
.anons__cards-1 {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
.anons__cards-2 {
  gap: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.anons__card {
  background-color: #f4f9fb;
  border-radius: 16px;
}
.anons__card-1 {
  min-width: 720px;
}
.anons__data {
  padding-top: 25px;
  padding-left: 20px;
  color: #a0a0a0;
}
.anons__title-card {
  padding-top: 12px;
  padding-left: 20px;
  max-width: 340px;
}
.anons__title-card-1 {
  padding-top: 12px;
  padding-left: 20px;
  max-width: 440px;
}
.anons__desc-1 {
  padding-top: 6px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.anons__desc {
  padding-top: 6px;
  padding-bottom: 30px;
  padding-left: 20px;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anons__show-button {
  transition: 0.5s;
}
.anons__show-button.active {
  margin-top: 480px;
}
.anons__showmore {
  margin-top: 40px;
  text-align: center;
}
.anons__showmore p {
  cursor: pointer;
  color: #007db6;
}
.anons__contentmore {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 0.5s;
}
.anons__contentmore.show {
  visibility: visible;
  opacity: 1;
}

.connection__consultation {
  display: flex;
  justify-content: space-between;
  background-color: #f4f9fb;
  border-radius: 16px;
  padding: 60px 194px 55px 60px;
}
.connection img {
  margin-top: -80px;
}
.connection__title {
  font-size: 32px;
}
.connection__desc {
  margin-top: 18px;
  margin-bottom: 32px;
  width: 372px;
}
.connection__cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.connection__questions {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */