* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Inter, sans-serif;
  &.active {
    overflow: hidden;
  }
}

$blue: #007db6;
$grey: #292929;
$hover: #65b2d6;
$bgc: #f4f9fb;
$pink: #ff879f;

[class*="__container"] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-blue {
  background-color: $blue;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}
.button-blue:hover {
  background-color: $hover;
}
.button-white {
  color: #007db6;
  padding: 12px 24px;
  border: 1px solid $blue;
  border-radius: 4px;
  transition: 0.3s;
}
.button-white:hover {
  border: 1px solid $hover;
  // color: $hover;
}
.title {
  color: $grey;
  font-size: clamp(2.5rem, 0.693rem + 2.7vw, 3.125rem);
  font-weight: 900;
  line-height: 121.5%;
  text-transform: uppercase;
}
.desc {
  color: $grey;
  font-size: clamp(0.75rem, 0.208rem + 0.81vw, 0.938rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.desc2 {
  font-size: 18px;
  font-weight: 600;
  // max-width: 188px;
  color: #515151;
}

section {
  margin-top: 80px;
}

.header {
  background-color: $bgc;
  &__container {
  }

  &__log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__btns {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 500px) {
      position: absolute;
      left: -1000px;
      transition: 0.3s;
      &.active {
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $blue;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
      }
    }
  }

  &__btns-item {
  }

  &__login {
  }

  &__singup {
    &.active {
      color: #fff;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 970px) {
      flex-direction: column-reverse;
    }
  }

  &__info-text {
    max-width: 674px;
    @media (max-width: 970px) {
      max-width: 100%;
    }
    @media (max-width: 480px) {
      text-align: center;
    }
  }

  &__info-img {
  }

  &__title {
    margin-top: 72px;
    font-size: clamp(1.875rem, 1.26rem + 3.08vw, 3.125rem);
    font-size: clamp(2.5rem, 1.546rem + 1.75vw, 3.125rem);
    @media (max-width: 970px) {
      margin-top: 0;
    }
  }

  &__desc {
    margin-top: 12px;
    @media (max-width: 970px) {
      font-size: 15px;
    }
    @media (max-width: 480px) {
      width: 270px;
      margin: 0 auto;
    }
  }

  &__start {
    margin-top: 32px;
    margin-bottom: 121px;
    @media (max-width: 970px) {
      margin-bottom: 50px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  &__img {
    position: absolute;
    bottom: -32px;
    right: 0;
    @media (max-width: 970px) {
      position: static;
      transform: scale(0.7);
    }
  }

  &__burger {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      height: 1px;
      width: 40px;
      background-color: $grey;
      display: none;
      transition: 0.3s all;
      @media (max-width: 500px) {
        display: block;
      }
    }
    &.active {
      span {
        z-index: 10;
        position: absolute;
        left: -40px;
        transform: scale(0);
        background-color: #fff;
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.cards {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: clamp(1.25rem, -2.875rem + 10vw, 2.5rem);
    @media (max-width: 660px) {
      overflow-x: scroll;
    }
  }

  &__card {
    width: 360px;
    height: clamp(21.875rem, 15.781rem + 12.19vw, 26.75rem);
    background-color: $bgc;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 660px) {
      min-width: 290px;
      height: clamp(21.875rem, 15.781rem + 12.19vw, 26.75rem);
    }
  }

  img {
    margin-top: -20px;
  }

  &__title {
  }

  &__desc {
    text-align: center;
  }
}

.singin {
  margin-top: 40px;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1090px) {
      flex-direction: column;
    }
  }

  &__card {
    background-color: $bgc;
    max-width: 560px;
    max-height: 298.879px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
  }

  img {
    margin-top: -20px;
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__text {
    padding: 40px;
  }

  &__title {
  }

  &__desc {
    max-width: 308px;
    margin-top: 12px;
    margin-bottom: 18px;
  }

  &__sing {
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__login {
    margin-top: 10px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}

.module {
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  transition: 0.3s;
  width: 1000vw;
  height: 1000vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
  &__card {
    position: relative;
    background-color: $bgc;
    box-shadow: -2px 2px 14px 0px rgba(27, 27, 27, 0.1);
    border-radius: 16px;
    width: 359px;
    @media (max-width: 600px) {
      width: 96vw;
    }
  }

  &__info {
    padding: 50px 50px 40px 40px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__text-cont {
    display: flex;
    gap: 8px;
  }

  &__text-cont:first-child {
    margin-bottom: 15px;
  }

  &__for {
  }

  &__desc {
    font-weight: 400;
    cursor: pointer;
    min-width: 100%;
  }

  &__btns {
    margin-top: 33px;
    display: flex;
    gap: 20px;
    @media (max-width: 410px) {
      flex-direction: column;
      gap: 6px;
    }
  }
}

.welcome {
  &__container {
    display: flex;
    background-color: $bgc;
    gap: clamp(3.125rem, -14.905rem + 29.89vw, 12rem);
    align-items: center;
    border-radius: 16px;
    @media (max-width: 965px) {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  }

  &__desctop {
    @media (max-width: 965px) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: 965px) {
      display: block;
    }
  }

  &__cards {
    padding: 27px 40px 27px 0;
    @media (max-width: 965px) {
      padding: 0 0 27px 0;
    }
  }

  &__card {
    width: 526px;
    padding: clamp(0.938rem, -0.469rem + 6.43vw, 1.5rem)
      clamp(1.25rem, -1.875rem + 14.29vw, 2.5rem);
    color: #fff;
    border-radius: 16px;
    &-1 {
      background-color: $pink;
      margin-bottom: 18px;
      p.welcome__num {
        color: $pink;
      }
    }
    &-2 {
      background-color: $hover;
      p.welcome__num {
        color: $hover;
      }
    }
    &-3 {
      background-color: #f0d075;
      p.welcome__num {
        color: #f0d075;
      }
    }
    &-4 {
      background-color: $pink;
      p.welcome__num {
        color: $pink;
      }
    }

    @media (max-width: 565px) {
      width: 90vw;
    }
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  &__text {
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%; /* 30px */
    text-transform: uppercase;
  }

  &__desc {
    color: #fff;
  }

  &__info {
    &__title {
      font-size: 31px;
      margin-top: 18px;
    }
    &__desc {
      color: #000;
      margin-bottom: 32px;
      width: 293px;
      @media (max-width: 965px) {
        width: 100%;
      }
    }
    &__btn {
      @media (max-width: 965px) {
        width: 526px;
        margin-bottom: clamp(0.938rem, -0.469rem + 6.43vw, 1.5rem);
      }
      @media (max-width: 565px) {
        width: 90vw;
      }
    }
  }
}

.diagnostic {
  &__head {
    display: flex;
    justify-content: space-between;
    @media (max-width: 650px) {
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: 480px) {
      text-align: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 32px;
    width: 265px;
  }

  &__mobile {
    display: none;
    margin-top: 32px;
    @media (max-width: 650px) {
      display: block;
    }
  }

  &__mobile-b {
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  &__info {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-top: 32px;
    @media (max-width: 650px) {
      display: none;
    }
  }

  &__time {
    width: 120px;
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    align-items: end;
    gap: 40px;
    @media (max-width: 1300px) {
      overflow: scroll;
    }
  }

  &__card {
    background-color: $bgc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
    min-width: 260px;
    &-1 {
      height: 352px;
      .diagnostic__card-title {
        margin-bottom: 50px;
      }
      img {
        margin-bottom: 61px;
        @media (max-width: 1100px) {
          margin-bottom: 45px;
        }
      }
      @media (max-width: 1100px) {
        height: 300px;
      }
    }
    &-2 {
      height: 231px;
      .diagnostic__card-title {
        margin-bottom: 50px;
      }
      img {
        margin-bottom: 61px;
        @media (max-width: 1100px) {
          margin-bottom: 45px;
        }
      }
      @media (max-width: 1100px) {
        height: 300px;
      }
    }
    &-3 {
      height: 190px;
      .diagnostic__card-title {
        margin-bottom: 65px;
      }
      img {
        margin-bottom: 46px;
        @media (max-width: 1100px) {
          margin-bottom: 45px;
        }
      }
      @media (max-width: 1100px) {
        height: 300px;
      }
    }
    &-4 {
      height: 352px;
      .diagnostic__card-title {
        margin-bottom: 22px;
      }
      img {
        margin-bottom: 63px;
        @media (max-width: 1100px) {
          margin-bottom: 45px;
        }
      }
      @media (max-width: 1100px) {
        height: 300px;
      }
    }
  }

  &__card-title {
    font-size: 24px;
    width: 185px;
  }
}

.anons {
  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: clamp(2.188rem, 1.116rem + 5.36vw, 3.125rem);
  }

  &__cards-1 {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  &__cards-2 {
    gap: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }

  &__card {
    background-color: $bgc;
    border-radius: 16px;
    &-1 {
      min-width: 720px;
    }
  }

  &__data {
    padding-top: 25px;
    padding-left: 20px;
    color: #a0a0a0;
  }

  &__title-card {
    padding-top: 12px;
    padding-left: 20px;
    max-width: 340px;
  }

  &__title-card-1 {
    padding-top: 12px;
    padding-left: 20px;
    max-width: 440px;
  }

  &__desc-1 {
    padding-top: 6px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  &__desc {
    padding-top: 6px;
    padding-bottom: 30px;
    padding-left: 20px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__show-button {
    transition: 0.5s;
    &.active {
      margin-top: 460px;
    }
  }

  &__showmore {
    margin-top: 0px;
    text-align: center;
    p {
      cursor: pointer;
      color: $blue;
    }
  }
  &__contentmore {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: 0.5s;
  }
  &__contentmore.show {
    visibility: visible;
    opacity: 1;
  }
}

.connection {
  &__container {
  }

  &__consultation {
    display: flex;
    justify-content: space-between;
    background-color: $bgc;
    border-radius: 16px;
    padding: 60px clamp(5rem, -10.983rem + 30.81vw, 12.125rem) 55px 60px;
    img {
      margin-top: -80px;
      @media (max-width: 840px) {
        display: none;
      }
    }
    @media (max-width: 480px) {
      text-align: center;
      justify-content: center;
      padding: 60px 60px 55px;
    }
  }

  &__title {
    font-size: clamp(1.563rem, -0.1rem + 2.8vw, 2rem);
    @media (max-width: 840px) {
      font-size: 27px;
      width: 100%;
    }
  }

  &__block {
    @media (max-width: 480px) {
      // text-align: center;
      // width: 100%;
    }
  }

  &__desc {
    margin-top: 18px;
    margin-bottom: 32px;
    width: 372px;
    @media (max-width: 480px) {
      width: 100%;
      font-size: 15px;
      width: 297px;
    }
  }

  &__button {
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: clamp(1.25rem, -4.022rem + 8.7vw, 2.5rem);
    overflow: auto;
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__card {
    min-width: 300px;
  }
}

.questions {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
  &__question {
  }

  &__mobile {
    display: none;
    @media (max-width: 560px) {
      display: block;
    }
    button {
      width: 100%;
    }
  }

  &__desctop {
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__question-title {
    font-size: 32px;
    @media (max-width: 480px) {
      text-align: center;
    }
  }

  &__question-desc {
    width: 460px;
    margin-top: 16px;
    margin-bottom: 32px;
    @media (max-width: 980px) {
      font-size: 15px;
    }
  }

  &__button-q {
  }

  &__answers {
  }

  &__answer {
    margin-bottom: 12px;
    border: 1px solid $hover;
    border-radius: 16px;
    padding: 24px;
    max-width: 660px;
    transition: 0.3s;
    &.active {
      background-color: $bgc;
      border: none;
      transition: 0.3s;
    }
    @media (max-width: 375px) {
      padding: 15px;
    }
  }

  &__answer-show {
    display: flex;
    justify-content: space-between;
    img {
      width: 15px;
    }
  }

  &__answer-text {
    font-size: clamp(0.813rem, 0.237rem + 2.63vw, 1.125rem);
  }

  &__show-btn {
    cursor: pointer;
  }

  &__hide {
    margin-top: 8px;
    opacity: 0;
    height: 0;
    transition: 0.3s;
    &.active {
      opacity: 1;
      height: auto;
      transition: 0.3s;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  &__answer-show {
    cursor: pointer;
  }
}

.module2 {
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  transition: 0.3s;
  width: 1000vw;
  height: 1000vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
  &__card {
    position: relative;
    background-color: $bgc;
    box-shadow: -2px 2px 14px 0px rgba(27, 27, 27, 0.1);
    border-radius: 16px;
    // width: 482px;
    padding: 50px 50px 40px 40px;
    @media (max-width: 600px) {
      max-width: 96vw;
      padding: 30px 10px 30px 10px;
    }
  }

  textarea {
    width: 100%;
    height: 64px;
    resize: none;
    border: 1px solid var(--grey-40, #a0a0a0);
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
  }

  &__inputs {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__input {
    margin-top: 4px;
    border: 1px solid var(--grey-40, #a0a0a0);
    border-radius: 4px;
    width: 100%;
    padding: 12px;
  }

  &__check {
    display: flex;
    gap: 8px;
    input {
      cursor: pointer;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 32px;
  }

  &__desc {
    margin-top: 12px;
  }

  &__info {
    font-weight: 500;
  }

  &__checkbox {
  }

  &__blue {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }

  &__captcha {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__text-c {
    display: none;
    color: $grey;
    opacity: 0.6;
  }

  &__button {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.footer {
  margin-top: 140px;
  background-color: $bgc;

  &__container {
    padding-top: 49px;
    padding-bottom: 34px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 560px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      text-align: center;
    }
    // gap: 180px;
  }

  &__btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    color: $blue;
    padding-top: 12px;
    cursor: pointer;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    gap: clamp(2.5rem, -3.092rem + 13.16vw, 8.75rem);
    @media (max-width: 680px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: 560px) {
      display: block;
      padding-top: 32px;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__desctop {
    @media (max-width: 560px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }

  &__p {
    padding-top: 18px;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    @media (max-width: 480px) {
      font-size: 15px;
    }
  }

  &__logos {
    img {
      background-color: #fff;
      padding: 16.65px 18px;
      border-radius: 8px;
    }
  }

  &__copy {
    padding-top: 48px;
    text-align: center;
    &:last-child {
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
